In [63]:
import pandas as pd # dataframe manipulation
import numpy as np # linear algebra

# data visualization
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import shap

# sklearn 
from sklearn.cluster import KMeans
from sklearn.preprocessing import PowerTransformer, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.manifold import TSNE
from sklearn.metrics import silhouette_score, silhouette_samples, accuracy_score, classification_report

from pyod.models.ecod import ECOD
from yellowbrick.cluster import KElbowVisualizer

import lightgbm as lgb
import prince

In [64]:
rfm_df = pd.read_csv('datasets/rfm.csv')
rfm_df

                            customer_id  Recency  Frequency  MonetaryValue
0      00012a2ce6f8dcda20d059ce98491703      293          1         114.74
1      000161a058600d5901f007fab4c27140      414          1          67.41
2      0001fd6190edaaf884bcaf3d49edf079      552          1         195.42
3      0002414f95344307404f0ace7a26f1d5      383          1         179.35
4      000379cdec625522490c315e70c7a9fb      154          1         107.01
...                                 ...      ...        ...            ...
98660  fffcb937e9dd47a13f05ecb8290f4d3e      171          1          91.91
98661  fffecc9f79fd8c764f843e9951b11341      158          3         244.08
98662  fffeda5b6d849fbd39689bb92087f431      104          1          63.13
98663  ffff42319e9b2d713724ae527742af25       82          1         214.13
98664  ffffa3172527f765de70084a7e53aae8      366          1          45.50

[98665 rows x 4 columns]

In [65]:
rfm_df.describe()

            Recency     Frequency  MonetaryValue
count  98665.000000  98665.000000   98665.000000
mean     245.811017      1.044504     167.906997
std      153.386320      0.379259     254.725916
min        1.000000      1.000000      10.070000
25%      122.000000      1.000000      62.910000
50%      227.000000      1.000000     107.440000
75%      356.000000      1.000000     182.290000
max      729.000000     29.000000   13664.080000

In [66]:
# rfm_df.set_index('customer_id')

from sklearn.preprocessing import MinMaxScaler

rfm_df_scaled = rfm_df.copy()
scaler = MinMaxScaler()
rfm_df_scaled.iloc[:, 1:] = scaler.fit_transform(rfm_df.iloc[:, 1:])
rfm_df_scaled

                            customer_id   Recency  Frequency  MonetaryValue
0      00012a2ce6f8dcda20d059ce98491703  0.401099   0.000000       0.007666
1      000161a058600d5901f007fab4c27140  0.567308   0.000000       0.004199
2      0001fd6190edaaf884bcaf3d49edf079  0.756868   0.000000       0.013575
3      0002414f95344307404f0ace7a26f1d5  0.524725   0.000000       0.012398
4      000379cdec625522490c315e70c7a9fb  0.210165   0.000000       0.007100
...                                 ...       ...        ...            ...
98660  fffcb937e9dd47a13f05ecb8290f4d3e  0.233516   0.000000       0.005994
98661  fffecc9f79fd8c764f843e9951b11341  0.215659   0.071429       0.017139
98662  fffeda5b6d849fbd39689bb92087f431  0.141484   0.000000       0.003886
98663  ffff42319e9b2d713724ae527742af25  0.111264   0.000000       0.014945
98664  ffffa3172527f765de70084a7e53aae8  0.501374   0.000000       0.002595

[98665 rows x 4 columns]

In [ ]:
from sklearn.pipeline import Pipeline